# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
ENV/

# IDE-specific files
.idea/
.vscode/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Python environment
pip-log.txt
pip-delete-this-directory.txt

# Temporary files
*.tmp
*.swp
*~
